// 像素严格为1px
border-1px($color)
  position: relative
  &:after 
      display: block
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      border-top: 1px solid $color
      content: ' '

// image图片, 一般设备使用2x图片，对于DPR比较高，对其应用分辨率高的3x图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
